.cardTitle{
    font-family: var(--app-tertiary-font);
    font-size: var( --app-medium-font-size);
    font-weight: var(--app-medium-font-weight);
    color: #333333;
    margin-bottom: 0px;
}

.loaderComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

@media (max-width: 480px) {
  .loaderComponent {
    margin-top: 25%;
  }
}