.react-datetime-picker__wrapper{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    color: #768192;
    background-color: #fff;
    border: 1px solid var(--app-primary-border-color);
    border-radius: 0.25rem;
    box-shadow: none !important;
    outline: none !important;
}

.primaryLabel {
  font-family: var(--app-tertiary-font);
  font-weight: var(--app-regular-font-weight);
  font-size: var(--app-regular-secondary-font-size);
  color: var(--app-primary-font-color);
}