:root{
    /* Font Colors */
    --app-primary-font-color:#0e1b4d;
    --app-secondary-font-color:#fff;
    --app-tertiary-font-color:#9195a2;


    /* Button Colors */
    --app-buttons-primary-color:#f82249;
    --app-buttons-secondary-color:#0e1b4d;
    --app-buttons-primary-hover-color:#e0072f;
    --app-buttons-secondary-hover-color:#f94a6a;

    /* Link color */
    --app-link-color:#4869df;
    --app-link-hover-color:#f82249;
    --app-link-secondary-color:#eee;

    /* Border color */
    --app-primary-border-color:#ced4da;
    --app-secondary-border-color:#f82249;


}