:root{
    
    /* Fonts */
    --app-primary-font:"Open Sans", sans-serif;
    --app-secondary-font:"Raleway", sans-serif;
    --app-tertiary-font:"Source Sans Pro",sans-serif;

    /* Font Sizes */
    --app-small-font-size:12px;
    --app-small-secondary-font-size:13px;
    --app-regular-font-size:14px;
    --app-regular-secondary-font-size:15px;
    --app-medium-font-size:16px;
    --app-medium-secondary-font-size:18px;
    --app-large-font-size:36px;

    /* Font Weights */
    --app-thin-font-weight:100;
    --app-light-font-weight:300;
    --app-regular-font-weight: 400;
    --app-medium-font-weight: 500;
    --app-semi-bold-weight:600;
    --app-bold-font-weight: 700;
    --app-extra-bold-font-weight: 900;

}