.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: var(--app-secondary-border-color);
  }
  &:focus {
    border-color: var(--app-secondary-border-color);
  }
}

.dropzoneInvalid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--app-secondary-border-color);
  border-style: solid;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: var(--app-secondary-border-color);
  }

  &:focus {
    border-color: var(--app-secondary-border-color);
  }
}

.fileSizeLabel {
  font-family: var(--app-primary-font);
  font-size: var(--app-regular-font-size);
  color: #333;
  font-weight: var(--app-regular-font-weight);
  margin-top: 10px;
}

.errormessage {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  margin-bottom: 0px;
}
