.successAlert{
    border-left: 4px solid #27AE60;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background: #fff !important;
    color: #333 !important;
    padding: 0.5rem 1rem !important;
    margin-top: 10px;
    font-family: var(--app-secondary-font);
    font-size: var(--app-regular-font-size);
}

.errorAlert{
    border-left: 4px solid #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background: #fff !important;
    color: #333 !important;
    padding: 0.5rem 1rem !important;
    margin-top: 10px;
    font-family: var(--app-secondary-font);
    font-size: var(--app-regular-font-size);
}