.cardTitle {
  font-family: var(--app-tertiary-font);
  font-size: var(--app-medium-font-size);
  font-weight: var(--app-medium-font-weight);
  color: #333333;
  margin-bottom: 0px;
}

.loaderComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.userImage {
  border-radius: 50%;
  max-width: 45px;
}

.successBadge {
  background-color: rgb(27, 134, 84) !important;
}

.warningBadge {
  background-color: rgb(255, 193, 6) !important;
  color: #000 !important;
}

@media (max-width: 480px) {
  .loaderComponent {
    margin-top: 25%;
  }
}
